<ion-header>
  <ion-toolbar>
    <ion-title>New Contact</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="primary"> CANCEL </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="logForm()"
        color="primary"
        [disabled]="!myForm.valid">
        DONE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-avatar >
        <img *ngIf="!img" src="{{avatar}}">
        <img *ngIf="img" [src]="img">
      </ion-avatar>
      <ion-card-subtitle color="primary" (click)="addphoto()">ADD PHOTO</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="myForm" (ngSubmit)="logForm()">
        <ion-item>
          <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Select category</ion-label>
          <ion-select formControlName="category">
            <ion-select-option value="Family">Family</ion-select-option>
            <ion-select-option value="Friend">Friend</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
